res/xml/templates/coc/creatures/coc.creature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:rpgml="https://github.com/dwugofski/rpgml"
	xmlns="https://github.com/dwugofski/rpgml/coc"
	targetNamespace="https://github.com/dwugofski/rpgml/coc"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import namespace="https://github.com/dwugofski/rpgml" schemaLocation="../common/xsd/numerics.xsd"/>
	<xs:include schemaLocation="../common/xsd/coc.numerics.xsd"/>

	<!--
	============================================================================
	Creature Description Template
	============================================================================
	-->

	<xs:element name="creature">
		<xs:complexType>
			<!--
			Elements ===========================================================
			-->
			<xs:sequence>
				<xs:element name="name" type="rpgml:name">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The display name for the creature
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="subname" type="rpgml:name" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Some added flavor text for the creature's name
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="characteristics">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The creature's characteristics
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="strength" type="characteristic">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										The creature's strength (STR)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="constitution" type="characteristic">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										The creature's constitution (CON)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="size" type="characteristic">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										The creature's size (SIZ)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dexterity" type="characteristic">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										The creature's dexterity (DEX)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="power" type="characteristic">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										The creature's power (POW)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="sanity" type="rpgml:intNumeric" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The amount of sanity the creature has
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="hitpoints" type="rpgml:intNumeric">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The number of hit points the creature has
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="magic" type="rpgml:intNumeric" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The number of magic points the creature has
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="damage" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The damage bonus from the creature
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:group ref="rpgml:intGroup"/>
							<xs:group ref="rpgml:rolledGroup"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>

				<xs:element name="build" type="rpgml:intNumeric" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The build of the creature
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="move" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							How quickly the creature can move
						</xs:documentation>
					</xs:annotation>
						<xs:complexType>
						<xs:sequence>
							<xs:group ref="rpgml:intGroup"/>
							<xs:element name="alternate" minOccurs="0" maxOccurs="unbounded" type="rpgml:namedIntNumeric">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										How quickly the creature can move in special circumstances
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="attacks" type="rpgml:intNumeric">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							How many turns / round the creature can attack
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="specials" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The list of special actions the creature can make
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="special">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										A special action the creature can make
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="rpgml:namedDescription">
											<xs:attribute name="type" default="normal" type="specialActionType" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">
														The type of special action the special action is
													</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="fighting" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							How the creature hits / deals damage fighting
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="probabilityGroup"/>
							<xs:element name="effect" type="rpgml:richText">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										The effect(s) dealt when fighting
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="maneuvers" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The list of the creature's maneuvers
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="maneuver" type="rpgml:namedDescription">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										The description of the maneuver
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="dodge" minOccurs="0" type="probability">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The creature's dodge ability
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="armor" minOccurs="0" type="rpgml:namedIntNumeric">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The creature's armor score
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="skills" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The list of the creature's skills
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="skill" type="namedProbability" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										A skill for the creature
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="spells" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							List of spells / spell descriptions for the creature. Each value is comma-separated
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="spell" type="rpgml:id_string">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										A reference to a known spell
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="extra" type="rpgml:richText">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										Extra text describing spells to include
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>

				<xs:element name="horror" minOccurs="0" type="rpgml:richText">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The amount of sanity lost in encounters with this creature
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="habitat" minOccurs="0" type="rpgml:richParagraphContainer">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Description for where the creature lives
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="backstory" minOccurs="0" type="rpgml:richParagraphContainer">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Descriptions for details into the backstory of the creature
						</xs:documentation>
					</xs:annotation>
				</xs:element>

			</xs:sequence>
			<!--
			Attributes =========================================================
			-->
			<xs:attribute name="id" type="rpgml:id_string" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The unique id for the creature
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>

			<xs:attribute name="type" type="creatureType" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Whether type of creature this block is for (e.g. NPC vs. beast)
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<!--
	============================================================================
	Creature Description Sub-types
	============================================================================
	-->

	<xs:complexType name="characteristic">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				A characteristic for a creature
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element name="base" type="rpgml:int">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The base / average value for the characteristic
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="roll" type="rpgml:roll" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Specification for how to roll for the characteristic
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:group ref="rpgml:intGroup"/>
			<xs:group ref="nanValues"/>
		</xs:choice>
	</xs:complexType>

	<xs:simpleType name="creatureType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Attribute specifying whether this template can be used for generating a random creature
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rpgml:plaintext">
			<xs:enumeration value="beast"/>
			<xs:enumeration value="deity"/>
			<xs:enumeration value="horror"/>
			<xs:enumeration value="npc"/>
			<xs:enumeration value="monster"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="specialActionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Attribute specifying what type of special action a special action is
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rpgml:plaintext">
			<xs:enumeration value="normal"/>
			<xs:enumeration value="maneuver"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>